@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-body;
}
h1,
h2,
h3,
h4 {
  @apply font-display;
}
.btn {
  @apply rounded-lg;
  @apply px-8;
  @apply py-3;
  @apply leading-tight;
}
.btn-primary {
  @apply bg-primary hover:bg-secondary text-white;
}
.btn-secondary {
  @apply bg-gray-800 hover:bg-gray-900 text-white;
}

.section {
  @apply py-20;
  @apply px-6;
}

.section-heading {
  @apply text-2xl;
  @apply text-center;
  @apply leading-tight;
}

.section-description {
  @apply text-center;
}

.bg-pattern {
  background-color: #f7fafc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23edf2f7' fill-opacity='0.96'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

nav .nuxt-link-active {
  @apply bg-gray-200;
}

.content > h1,
h2,
h3 {
  @apply text-gray-900;
  @apply mt-3;
  @apply mb-1;
  @apply leading-tight;
}

.content > h1 {
  @apply text-3xl;
}
.content > h2 {
  @apply text-2xl;
}
.content > h3 {
  @apply text-xl;
}

.content > :first-child {
  margin-top: 0;
}
.content p {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

.content > pre {
  @apply rounded-lg;
  overflow: auto;
  scrollbar-width: none;
}

/* Social Share Button */
.entry-sticky-shares {
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 2rem;
}
.entry-shares {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  justify-items: end;
  flex-wrap: wrap;
  flex-grow: inherit;
  width: 100%;
}
.entry-sticky-shares ul li.share-sum {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.2;
  display: inline-block;
}
.entry-sticky-shares ul li a {
  font-size: 26px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}
.entry-sticky-shares ul li a svg {
  max-width: 26px;
  height: 100%;
  max-height: 26px;
  pointer-events: none;
}
.entry-sticky-shares .icon-twitter {
  fill: #1da1f2;
}
.entry-sticky-shares .icon-facebook {
  fill: #1778f2;
}
.entry-sticky-shares .icon-linkedin {
  fill: #0077b5;
}

/* Reponsive Design */
@screen md {
  .section-heading {
    @apply text-3xl;
  }
  .content > h1 {
    @apply text-6xl;
  }
  .content > h2 {
    @apply text-5xl;
  }
  .content > h3 {
    @apply text-4xl;
  }

  /* Social Share Button */
  .entry-sticky-shares {
    position: fixed;
    padding: 15px 2px 10px;
    text-align: center;
    top: 140px;
    left: 8%;
    width: 72px;
  }
  .entry-shares {
    display: block;
  }
  .entry-sticky-shares ul li.share-sum {
    margin-bottom: 10px;
  }
}
@screen sm {
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #tidio-chat-iframe {
    inset: auto auto 60px -7px !important;
  }
}
